.messenger__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.messenger__header > h2 {
  margin: 20px;
}

.messenger__form {
  margin: 10px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
}

.messages {
  margin-bottom: 150px;
}

.messenger__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.messenger__input {
  flex: 0.9;
}

.messenger__iconButton {
  flex: 0;
}
